<!DOCTYPE html>
<html lang="zh">

<head>
  <title><%= title %></title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <%- AddressBar %>
  <!--     Fonts and icons     -->
  <link rel="icon" type="image/png" href="/images/Logo.png">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- Material Kit CSS -->
  <link href="/stylesheets/css/material-kit.css?v=2.0.7" rel="stylesheet" />
  <!-- Custom CSS -->
  <link href="/stylesheets/style.css" rel="stylesheet" />
</head>

<body class="landing-page sidebar-collapse">
  <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand">
          <%= navbar[0]%></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href=<%= url[1]%>>
              <%= navbar[1]%>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=<%= url[2]%>>
              <%= navbar[2]%>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=<%= url[3]%>>
              <%= navbar[3]%>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('/images/city_01.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1>線上會議平台</h1>
            <h3 class="title text-center">找不到好用的會議平台？</h3>
            <a href="/login" class="btn btn-danger btn-raised btn-lg">
              現在就試試
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Let's talk about the product</h2>
            <img src="/images/Capstone.png" alt="Thumbnail Image">
            <h5 class="description">
              It's our logo, a stone has a cap on its head, and give a thumbs-up says it's fun.
              A capstone course serves as the culminating and usually integrative experience of an educational program.
              But, as a junior majoring in electronic and computer engineering in NTUST, we don't learn how to build a website.
              So, the capstone course of ours is actually not to integrate experiences but to learn extra knowledge and integrate them.
            </h5>
          </div>
        </div>
        <div class="features">
          <div class="row">
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-info">
                  <i class="material-icons">chat</i>
                </div>
                <h4 class="info-title">Free Chat</h4>
                <p>
                  We provide you and your partners a platform that can make a conference call, and it's FREE.
                </p>
              </div>
            </div>  
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-success">
                  <i class="material-icons">security</i>
                </div>
                <h4 class="info-title">Security</h4>
                <p>
                  Based on Web Real-Time Communication(WebRTC),<br>
                  Our service won't store any data or monitor your calling.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-danger">
                  <i class="material-icons">speed</i>
                </div>
                <h4 class="info-title">High Speed</h4>
                <p>
                  You can hold a meeting or join one easily.<br>
                  Also, you don't need to sign up for any accounts.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section text-center">
        <h2 class="title">開發團隊</h2>
        <div class="team">
          <div class="row">
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="/images/faces/TONG.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">唐中倫
                    <br>
                    <small class="card-description text-muted">The Guy Who Decides What To Eat</small>
                  </h4>
                  <div class="card-body">
                    <p class="card-description">我現在還沒有話要跟你說。</p>
                  </div>
                  <div class="card-footer justify-content-center">
                    <a href="https://www.facebook.com/jonathan.super.5" class="btn btn-link btn-just-icon" target="_blank"><i class="fa fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com/jonathan_tang_183/" class="btn btn-link btn-just-icon" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="https://github.com/Dodoesdid" class="btn btn-link btn-just-icon" target="_blank"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="/images/faces/LQL.png" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">林琨霖
                    <br>
                    <small class="card-description text-muted">Back-End Engineer</small>
                  </h4>
                  <div class="card-body">
                    <p class="card-description">我現在也還沒有話要跟你說。</p>
                  </div>
                  <div class="card-footer justify-content-center">
                    <a href="https://www.facebook.com/qqq89513" class="btn btn-link btn-just-icon" target="_blank"><i class="fa fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com/qqq89513/" class="btn btn-link btn-just-icon" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="https://github.com/qqq89513" class="btn btn-link btn-just-icon" target="_blank"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="/images/faces/TWZ.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">張庭偉
                    <br>
                    <small class="card-description text-muted">Full-Stack Engineer</small>
                  </h4>
                  <div class="card-body">
                    <p class="card-description">他們說的話都是我幫他們說的。</p>
                  </div>
                  <div class="card-footer justify-content-center">
                    <a href="https://www.facebook.com/brian.zhang.0331/" class="btn btn-link btn-just-icon" target="_blank"><i class="fa fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com/tweizh0331/" class="btn btn-link btn-just-icon" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="https://github.com/ghnmqdtg" class="btn btn-link btn-just-icon" target="_blank"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer footer-default">
    <div class="container">
      <nav class="float-center">
        <ul>
          <li>
            <a>Made with Material Kit by Team BJQ</a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>

  <!--   Core JS Files   -->
  <script src="/javascripts/core/jquery.min.js" type="text/javascript"></script>
  <script src="/javascripts/core/popper.min.js" type="text/javascript"></script>
  <script src="/javascripts/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <script src="/javascripts/plugins/moment.min.js"></script>
  <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
  <script src="/javascripts/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="/javascripts/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
  <script src="/javascripts/material-kit.js?v=2.0.7" type="text/javascript"></script>
</body>
</html>